*{
    margin: 0;  
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.bg {
    background-color: #707070;
    width: 960px;
    height: 80vh ;
    margin: 50px auto;
    padding: 20px 15px;
}
.box-1 {
        float: left;
        width: 20%;
        height: 120px;
        background-color: red;
        margin: 20px;
}
.box-2 {
        float: left;
        width: 19%;
        height: 240px;
        background-color: blue;
        margin: 30px;
}
.box-3 {
        float: left;
        width: 20%;
        height: 120px;
        background-color: yellow;
        margin: 20px;
}
